CREATE database QLDEAN

go

use QLDEAN

go

create table NHANVIEN (
	MANV varchar(10)not null,
	HONV nvarchar(20)not null,
	TENNV nvarchar(20)not null,
	NGSINH DATE,
	DCHI NVARCHAR(60),
	QQUAN NVARCHAR(60),
	PHAI NVARCHAR(10),
	LUONG INT,
	MANQL varchar(10),
	MAPHG int,
	constraint CK_PHAI check (PHAI=N'NAM' or PHAI=N'NỮ'), --rang buoc 
	primary key(MANV)
)

go

create table THANNHAN (
	MANVIEN varchar(10) not null,
	HOTN nvarchar(20)not null,
	TENTN nvarchar(20)not null,
	PHAI NVARCHAR(10),
	NGSINH DATE,
	QUANHE nvarchar(10),
	primary key(MANVIEN, HOTN, TENTN),
	constraint CK_PHAITN check (PHAI=N'NAM' or PHAI=N'NỮ') --rang buoc
)

go

create table PHONGBAN (
	MAPHG int not null,
	TENPHG nvarchar(20)not null,
	TRPHG varchar (10),
	NGNHANCHUC date,
	primary key(MAPHG),
)

go

create table DIADIEM_PHG (
	MAPHG int not null,
	DIADIEM nvarchar(20),
	primary key(MAPHG, DIADIEM)
)

go

create table DEAN (
	MADA int,
	TENDA nvarchar(20),
	DIADIEM_DA nvarchar(20),
	PHONG int,
	primary key(MADA)
)

go

create table PHANCONG (
	MANV varchar(10),
	SODA int,
	THOIGIAN float,
	primary key(MANV,SODA)
)

go

alter table NHANVIEN add constraint FK_MAPHGNV FOREIGN KEY(MAPHG) REFERENCES PHONGBAN(MAPHG)

go

alter table NHANVIEN add constraint FK_MANQL FOREIGN KEY(MANQL) REFERENCES NHANVIEN(MANV)

go

alter table THANNHAN add constraint FK_MANV FOREIGN KEY(MANVIEN) REFERENCES NHANVIEN(MANV)

go

alter table PHONGBAN add constraint FK_TRPHG foreign key(TRPHG) references NHANVIEN(MANV)

go

alter table DIADIEM_PHG add constraint FK_MAPHGDD foreign key(MAPHG) references PHONGBAN(MAPHG)

go

alter table DEAN add constraint FK_PHONG foreign key(PHONG) references PHONGBAN(MAPHG)

go

alter table PHANCONG add constraint FK_MANVPC FOREIGN KEY(MANV) REFERENCES NHANVIEN(MANV)

go

alter table PHANCONG add constraint FK_SODA FOREIGN KEY(SODA) REFERENCES DEAN(MADA)

go
--Nhap du lieu phong ban
GO
insert into PHONGBAN
(MAPHG, TENPHG, TRPHG, NGNHANCHUC)
values
(1, N'QUẢN LÝ', null, '20100101')
GO
insert into PHONGBAN
(MAPHG, TENPHG, TRPHG, NGNHANCHUC)
values
(2, N'NGHIÊN CỨU', null, '20100202')
GO
insert into PHONGBAN
(MAPHG, TENPHG, TRPHG, NGNHANCHUC)
values
(3, N'ĐIỀU HÀNH', null, null)
GO

--Nhap du lieu nhan vien
GO
insert into NHANVIEN
(MANV, HONV, TENNV, NGSINH, DCHI, QQUAN, PHAI, LUONG, MANQL, MAPHG)
values
('NV0001', N'ĐÌNH VĂN', N'TRỌNG', '01/15/1987', N'47 NGUYỄN HUỆ,Q.1,TP.HCM',N'ĐÀ NẴNG', N'NAM', 2500000, NULL, 2);
GO
insert into NHANVIEN
(MANV, HONV, TENNV, NGSINH, DCHI, QQUAN, PHAI, LUONG, MANQL, MAPHG)
values
('NV0002', N'NGUYỄN THỊ THANH', N'THỦY', '04/26/1985', N'145 ĐỒNG KHỞI,Q.1,TP.HCM',N'LÂM ĐỒNG', N'NỮ', 2700000, NULL, 2);
GO
insert into NHANVIEN
(MANV, HONV, TENNV, NGSINH, DCHI, QQUAN, PHAI, LUONG, MANQL, MAPHG)
values
('NV0003', N'NGUYỄN NGỌC', N'THỦY', '12/05/1987', N'45 HAI BÀ TRƯNG,Q.3, TP.HCM',N'ĐÀ NẴNG', N'NỮ', 2700000, NULL, 2);
GO

--UPDATE TRPG CHO PHONGBAN
GO
UPDATE PHONGBAN
SET TRPHG = 'QL0001'
WHERE MAPHG = 1
GO
UPDATE PHONGBAN
SET TRPHG = 'QL0002'
WHERE MAPHG = 2
GO
UPDATE PHONGBAN
SET TRPHG = 'QL0003'
WHERE MAPHG = 4

--UPDATE MANQL CHO NHANVIEN
GO
UPDATE NHANVIEN
SET MANQL = 'QL0001'
WHERE MANV = 'QL0002' OR MANV = 'QL0003'
GO
UPDATE NHANVIEN
SET MANQL = 'QL0002'
WHERE MANV = 'NV0001' OR MANV = 'NV0002' OR MANV = 'NV0003' OR MANV = 'NV0004' OR MANV = 'NV0006'
GO
UPDATE NHANVIEN
SET MANQL = 'QL0003'
WHERE MANV = 'NV0005'

--INSERT DU LIEU THANNHAN
GO
INSERT INTO THANNHAN
(MANVIEN, HOTN, TENTN, PHAI, NGSINH, QUANHE)
VALUES
('NV0001', N'ĐINH VĂN', N'TIẾN', N'NAM', '20070505', N'CON')
GO
INSERT INTO THANNHAN
(MANVIEN, HOTN, TENTN, PHAI, NGSINH, QUANHE)
VALUES
('NV0001', N'ĐINH HOÀNG', N'THÚY', N'NỮ', '20090206', N'CON')
GO
INSERT INTO THANNHAN
(MANVIEN, HOTN, TENTN, PHAI, NGSINH, QUANHE)
VALUES
('NV0002', N'TRẦN VĂN', N'MINH', N'NAM', '20050409', N'CON')
GO

--INSERT DULIEU DIADIEM_PHONG
GO
INSERT INTO DIADIEM_PHG
(MAPHG, DIADIEM)
VALUES
(1, N'TP.HCM')
GO
INSERT INTO DIADIEM_PHG
(MAPHG, DIADIEM)
VALUES
(2, N'ĐÀ NẴNG')
GO
INSERT INTO DIADIEM_PHG
(MAPHG, DIADIEM)
VALUES
(2, N'LÂM ĐỒNG')
GO

--INSERT DU LIEU CHO DEAN
GO
INSERT INTO DEAN
(MADA, TENDA, DIADIEM_DA, PHONG)
VALUES
(1, N'SẢN PHẨM X', N'LÂM ĐỒNG', 4)
GO
INSERT INTO DEAN
(MADA, TENDA, DIADIEM_DA, PHONG)
VALUES
(2, N'SẢN PHẨM Y', N'TP.HCM', 2)
GO
INSERT INTO DEAN
(MADA, TENDA, DIADIEM_DA, PHONG)
VALUES
(3, N'ĐÀO TẠO', N'TP.HCM', 2)
GO

--INSERT DU LIEU CHO PHAN CONG
GO
INSERT INTO PHANCONG
(MANV, SODA, THOIGIAN)
VALUES
('NV0001', 1, 4)
GO
INSERT INTO PHANCONG
(MANV, SODA, THOIGIAN)
VALUES
('NV0001', 2, 12.5)
GO
INSERT INTO PHANCONG
(MANV, SODA, THOIGIAN)
VALUES
('NV0001', 3, 29)
GO

--1
SELECT *
FROM NHANVIEN
WHERE MAPHG=4

--2
SELECT *
FROM NHANVIEN
WHERE LUONG >= 3000000

--3
SELECT *
FROM NHANVIEN
WHERE (LUONG >= 2800000 AND MAPHG = 4) OR (LUONG >= 3000000 AND MAPHG=2)

--4
SELECT *
FROM NHANVIEN
WHERE QQUAN = 'TP.HCM'

--5
SELECT *
FROM NHANVIEN
WHERE  HONV LIKE 'N%'

--6
SELECT *
FROM NHANVIEN
WHERE  HONV LIKE N'NGUYỄN%'

--7
SELECT *
FROM NHANVIEN
WHERE  TENNV LIKE 'T%' OR TENNV LIKE 'N%'

--8
SELECT NGSINH, DCHI
FROM NHANVIEN
WHERE HONV = N'TRẦN HỒNG' AND TENNV = N'QUANG'

--9
SELECT HONV + ' ' + TENNV AS 'HO TEN', YEAR(NGSINH) AS 'NAM SINH'
FROM NHANVIEN

--10
SELECT *
FROM NHANVIEN
WHERE YEAR(NGSINH) BETWEEN 1984 AND 1986

--11
SELECT *
FROM NHANVIEN
WHERE YEAR(NGSINH) = 1984 OR YEAR(NGSINH) = 1986

--12
SELECT HONV + ' ' + TENNV AS 'HO TEN', YEAR(GETDATE()) - YEAR(NGSINH) AS 'TUOI'
FROM NHANVIEN

--13
SELECT *
FROM NHANVIEN
WHERE YEAR(NGSINH) NOT LIKE 1986

--14
SELECT TENPHG, DIADIEM
FROM PHONGBAN PB, DIADIEM_PHG DD
WHERE PB.MAPHG = DD.MAPHG

--15
SELECT HONV + ' ' + TENNV AS 'HO TEN TRPHG', TENPHG
FROM NHANVIEN, PHONGBAN
WHERE NHANVIEN.MANV = PHONGBAN.TRPHG

--16
SELECT TENNV, DCHI
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MAPHG = PB.MAPHG AND NV.MAPHG = 2

--17
SELECT TENDA, TENPHG, HONV + ' ' + TENNV AS 'HO TEN TRPHG', NGNHANCHUC
FROM NHANVIEN, PHONGBAN, DEAN
WHERE NHANVIEN.MANV = PHONGBAN.TRPHG AND NHANVIEN.MAPHG = PHONGBAN.MAPHG AND PHONGBAN.MAPHG = DEAN.PHONG

--18
SELECT HONV, TENNV, NV.NGSINH, HOTN, TENTN
FROM NHANVIEN NV, THANNHAN TN
WHERE NV.MANV = TN.MANVIEN AND NV.PHAI = N'NỮ'

--19
SELECT  NV1.HONV + ' ' + NV1.TENNV AS 'HO TEN NV', NV2.HONV + ' ' + NV2.TENNV AS 'HO TEN NQL'
FROM NHANVIEN NV1, NHANVIEN NV2
WHERE NV1.MANQL = NV2.MANV

--20
SELECT NV1.HONV + ' ' + NV1.TENNV AS 'HO TEN NV', NV2.HONV + ' ' + NV2.TENNV AS 'HO TEN TRPHG', NV3.HONV + ' ' + NV3.TENNV AS 'HO TEN NQL'
FROM NHANVIEN NV1, NHANVIEN NV2, NHANVIEN NV3, PHONGBAN PB
WHERE NV1.MAPHG = PB.MAPHG AND PB.TRPHG = NV2.MANV AND NV1.MANV NOT LIKE NV2.MANV AND NV1.MANQL = NV3.MANV

--21
SELECT NV.HONV + ' ' + NV.TENNV AS 'HO TEN NV'
FROM NHANVIEN NV, PHONGBAN PB, DEAN DA
WHERE NV.MAPHG = PB.MAPHG AND PB.MAPHG = DA.PHONG AND MADA = 6 AND NV.MANQL = 'QL0003'

--22
SELECT TENDA
FROM NHANVIEN NV, PHANCONG PC, DEAN DA
WHERE NV.MANV = PC.MANV AND PC.SODA = DA.MADA AND NV.MANV = 'NV0001'

--23
SELECT *
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MAPHG = PB.MAPHG AND NV.MAPHG NOT LIKE 1

--BT VD1
SELECT *
FROM NHANVIEN NV
WHERE EXISTS(
		SELECT TN.TENTN, TN.PHAI
		FROM NHANVIEN NV, THANNHAN TN
		WHERE TN.TENTN = NV.TENNV AND TN.PHAI = NV.PHAI AND TN.MANVIEN = NV.MANV)

--BT VD2
SELECT NV.MANV, NV.HONV + ' ' + NV.TENNV AS 'HO TEN NV', COUNT(SODA) AS 'SL_DA', SUM(THOIGIAN) AS 'TONG_TG'
FROM NHANVIEN NV, PHANCONG PC
WHERE NV.MANV = PC.MANV
GROUP BY NV.MANV, NV.HONV, NV.TENNV
HAVING COUNT(SODA) >= 2 --DEM SODA
ORDER BY SL_DA

--BT VD3
SELECT NV.MANV, NV.HONV + ' ' + NV.TENNV AS 'HO TEN NV'
FROM NHANVIEN NV, PHANCONG PC
WHERE NV.MANV = PC.MANV
GROUP BY NV.MANV, NV.HONV, NV.TENNV
HAVING COUNT(NV.MANV) >= 2 --DEM NV

--BT VD4
SELECT PB.TENPHG, AVG(NV.LUONG) AS 'LUONG_TB'
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MAPHG = PB.MAPHG
GROUP BY PB.TENPHG
HAVING AVG(NV.LUONG) > ALL(
	SELECT AVG(NV1.LUONG)
	FROM NHANVIEN NV1, PHONGBAN PB1
	WHERE NV1.MAPHG = PB1.MAPHG)

--24
SELECT COUNT(MADA) 'SL_DA'
FROM DEAN

--25
SELECT PB.TENPHG, COUNT(PC.SODA) 'SL_DA'
FROM NHANVIEN NV, PHONGBAN PB, PHANCONG PC
WHERE NV.MAPHG = PB.MAPHG AND PB.MAPHG = 2 AND NV.MANV = PC.MANV
GROUP BY PB.TENPHG

--26
SELECT AVG(NV.LUONG) 'LUONG_TB_NV_NỮ'
FROM NHANVIEN NV
WHERE NV.PHAI = N'NỮ'

--27
SELECT COUNT(*) 'SL_TN'
FROM NHANVIEN NV, THANNHAN TN
WHERE NV.MANV = TN.MANVIEN AND TN.MANVIEN = 'NV0001'

--28
SELECT DA.TENDA, SUM(PC.THOIGIAN) 'TONG_TG'
FROM DEAN DA, PHANCONG PC
WHERE DA.MADA = PC.SODA
GROUP BY DA.TENDA
ORDER BY TONG_TG

--29
SELECT DA.TENDA, COUNT(PC.MANV) 'SL_NV'
FROM DEAN DA, PHANCONG PC
WHERE DA.MADA = PC.SODA
GROUP BY DA.TENDA
ORDER BY SL_NV

--30
SELECT NV.HONV + ' ' + NV.TENNV AS 'HO TEN NV', COUNT(*) 'SL_TN'
FROM NHANVIEN NV, THANNHAN TN
WHERE NV.MANV = TN.MANVIEN
GROUP BY NV.HONV, NV.TENNV

--31
SELECT NV.HONV + ' ' + NV.TENNV AS 'HO TEN NV', COUNT(*) 'SL_DA'
FROM NHANVIEN NV, PHANCONG PC
WHERE NV.MANV = PC.MANV
GROUP BY NV.HONV, NV.TENNV
ORDER BY SL_DA

--32
SELECT PB.TENPHG, AVG(NV.LUONG) 'LUONG_TB'
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MAPHG = PB.MAPHG
GROUP BY PB.TENPHG
ORDER BY LUONG_TB

--33
SELECT PB.TENPHG, COUNT(*) 'SL_NV', AVG(NV.LUONG) 'LUONG_TB'
FROM NHANVIEN NV, PHONGBAN PB
WHERE PB.MAPHG = NV.MAPHG
GROUP BY PB.TENPHG
HAVING AVG(NV.LUONG) > 3100000

--34
SELECT PB.TENPHG, COUNT(*) 'SL_DA'
FROM NHANVIEN NV, PHONGBAN PB, PHANCONG PC
WHERE NV.MAPHG = PB.MAPHG AND NV.MANV = PC.MANV
GROUP BY PB.TENPHG

--35
SELECT PB.TENPHG, NVTRGPHG.HONV + ' ' + NVTRGPHG.TENNV AS 'HO TEN TRPHG', COUNT(*) 'SL_DA'
FROM PHONGBAN PB, NHANVIEN NV, PHANCONG PC, NHANVIEN NVTRGPHG
WHERE NV.MAPHG = PB.MAPHG AND NV.MANV = PC.MANV AND NVTRGPHG.MANV = PB.TRPHG
GROUP BY PB.TENPHG, NVTRGPHG.HONV, NVTRGPHG.TENNV

--36
SELECT DA.DIADIEM_DA, COUNT(*) 'SL_DA'
FROM DEAN DA, PHANCONG PC
WHERE DA.MADA = PC.SODA
GROUP BY DA.DIADIEM_DA

--37
SELECT COUNT(*) 'SL_NV'
FROM NHANVIEN NV, PHANCONG PC
WHERE NV.MANV = PC.MANV AND PC.SODA = 30

--38
SELECT DA.TENDA, COUNT(*) 'SL_NV'
FROM NHANVIEN NV, DEAN DA, PHANCONG PC
WHERE NV.MANV = PC.MANV AND PC.SODA = DA.MADA AND DA.TENDA = N'ĐÀO TẠO'
GROUP BY DA.TENDA

--39
SELECT *
FROM NHANVIEN NV
WHERE NV.LUONG > (
	SELECT LUONG
	FROM NHANVIEN NV
	WHERE MANV = 'NV0001'
)

--40
SELECT NV.HONV, NV.TENNV
FROM NHANVIEN NV
WHERE MANV NOT IN (
	SELECT TN.MANVIEN
	FROM THANNHAN TN
)

--41
SELECT NV.HONV, NV.TENNV
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MANV = PB.TRPHG AND NV.MANV IN (
	SELECT TN.MANVIEN
	FROM THANNHAN TN
)

--42
SELECT NV.HONV, NV.TENNV
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MANV = PB.TRPHG AND NOT EXISTS (
	SELECT TN.MANVIEN
	FROM NHANVIEN NV, THANNHAN TN
	WHERE NV.MANV = TN.MANVIEN
)

--43
SELECT NV.HONV, NV.TENNV, NV.NGSINH
FROM NHANVIEN NV
WHERE NV.LUONG > (
	SELECT AVG(NV.LUONG) 'LUONG_TB'
	FROM NHANVIEN NV, PHONGBAN PB
	WHERE NV.MAPHG = PB.MAPHG AND PB.MAPHG = 2
)

--44
SELECT PB.TENPHG, NV.HONV + ' ' + NV.TENNV 'HOTEN_TRPHG'
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MANV = PB.TRPHG AND PB.MAPHG = NV.MAPHG AND NV.MAPHG IN (
	SELECT NV.MAPHG
	FROM NHANVIEN NV, PHONGBAN PB 
	WHERE NV.MAPHG = PB.MAPHG
	GROUP BY NV.MAPHG, PB.TENPHG 
	HAVING COUNT(*) >= ALL(
		SELECT COUNT(*)
		FROM NHANVIEN
		GROUP BY MAPHG
	)
)

--45
SELECT PC.SODA
FROM NHANVIEN NV, PHANCONG PC
WHERE NV.MANV = PC.MANV
GROUP BY PC.SODA
HAVING PC.SODA NOT IN (
	SELECT PC.SODA
	FROM NHANVIEN NV, PHANCONG PC
	WHERE NV.MANV = PC.MANV AND NV.MANV = 'NV0004'
)

--46
SELECT NV.HONV, NV.TENNV, NV.DCHI
FROM NHANVIEN NV, DEAN DA, PHANCONG PC
WHERE NV.MANV = PC.MANV AND PC.SODA = DA.MADA AND DA.DIADIEM_DA = 'TP.HCM' AND NV.QQUAN != 'TP.HCM'
GROUP BY NV.HONV, NV.TENNV, NV.DCHI

--47
SELECT NV.HONV, NV.TENNV, AVG(NV.LUONG) 'lUONG_TB'
FROM NHANVIEN NV, PHONGBAN PB
WHERE NV.MAPHG = PB.MAPHG AND NV.LUONG > (
	SELECT AVG(NV.LUONG)
	FROM NHANVIEN NV, PHONGBAN PB
	WHERE NV.MAPHG = PB.MAPHG
)

